<div class="footer">
  <div class='row'>
    <div class='col-lg-3'>
      <h4><strong>hear4me</strong></h4>
    </div>
    <div class='col-lg-3'>
      <%# <p> Quem somos
      <p> Como Funciona
      <p> Privacidade
      <p> Vagas %>
    </div>
  </div>
  <div class="footer-links">
    <a href="https://github.com/alexandrecastello/python-hear4me"><i class="fab fa-github"></i></a>
    <a href="/"><i class="fab fa-instagram"></i></a>
    <a href="/"><i class="fab fa-facebook"></i></a>
    <a href="/"><i class="fab fa-twitter"></i></a>
    <a href="/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © 2022 hear4me, Inc.
  </div>
</div>