<div class="banner" style="background-image: linear-gradient(#023047BB,#02304700), url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Use seu tempo para o que <strong>realmente importa</strong>!</h1>
    <p>Deixe que a gente te resume aquele monte de áudio que você recebeu hoje.</p>
    
    <%# <%= form_for @user, :url => {:controller => 'pages', :action => 'home'},:html => {:multipart => true},:validate => true do |f| %>
      <%# <%= f.file_field :file, multiple: true, accept:'audio/*' %>
    <%# <% end %>
    <a class="btn btn-flat" href="#">Enviar áudio</a>

    <%# <form>
      <div class="form-group">
        <label for="audio-file">Enviar áudio</label>
        <input type="file" class="form-control-file" id="audio-file">
      </div>
    </form> %>
  </div>
</div>

