.navbar-lewagon {
  justify-content: space-between;
  background: #023047;
  padding: 0px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family:'Roboto';
  color: #8ECAE6 !important;
}
